<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee, http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Health Information for Life</display-name>
	<distributable />
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/applicationContext-scheduler.xml
			classpath*:/applicationContext-resources.xml
			classpath*:/applicationContext.xml
			classpath*:/applicationContext-security.xml			
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	<!-- Granite config context listener -->
	<listener>
		<listener-class>org.granite.config.GraniteConfigListener
		</listener-class>
	</listener>
	
	<filter>
		<filter-name>AMFMessageFilter</filter-name>
		<filter-class> org.granite.messaging.webapp.AMFMessageFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AMFMessageFilter</filter-name>
		<url-pattern>/hil-graniteamf/*
		</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>springSecurityFilterChain
		</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain
		</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>AMFMessageServlet</servlet-name>
		<servlet-class> org.granite.messaging.webapp.AMFMessageServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AMFMessageServlet</servlet-name>
		<url-pattern>/hil-graniteamf/*
		</url-pattern>
	</servlet-mapping>
	
	<!-- REST Services -->
	<servlet>
		<servlet-name>Rest_Servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rest_Servlet</servlet-name>
		<!-- Redirect any calls to our jersey servlet -->
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>	
	
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
